<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959507062306-kdv72bo0r0lrmta25etss40dcjin52au.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959507062306-kdv72bo0r0lrmta25etss40dcjin52au</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>959507062306-d04ime0oioh1spcingdev2rbcdre62ju.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAv3ZTrAkkjnk6mf-8078qzRKSYnduy6CQ</string>
	<key>GCM_SENDER_ID</key>
	<string>959507062306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flyline.robotravel</string>
	<key>PROJECT_ID</key>
	<string>flyline-283519</string>
	<key>STORAGE_BUCKET</key>
	<string>flyline-283519.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959507062306:ios:f7f0e39985d585a3dbf47b</string>
	<key>DATABASE_URL</key>
	<string>https://flyline-283519.firebaseio.com</string>
</dict>
</plist>